@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px rgb(49, 83, 39)
    }
    to {
      text-shadow: 0 0 10px #2fb95d;
    }
  }


body{
    font-family: 'Oswald', sans-serif;
    color: azure;
    background-color: darkslategrey;
}
.mainElement{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#container{
    display: flex;
    justify-content: center;
    border: 1px solid azure;
    height : 600px;
    width : 600px;
}

.gridRow{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}
.gridCol{

    display: flex;
    flex: 1 1 0;
    background-color: white;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading{
    font-size: 50px;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

p{
    font-size: 24px;
    text-align: center;
}

.selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.options{
    display: flex;
    flex-direction: column;
}

button{
    background-color: azure;
    border: none;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    text-decoration: dashed;
    font-size: 20px;
}

#colorPicker {
    align-self: center;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 80px;

}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 80px;
  }